<br/>
<div>
<div class="card-header" style="background-color: rgb(230, 227, 227);"><br/>
</div>
<div class="card text-align: center">
  <div class="card-body">
    <div>
        <div [innerHTML]="aviso.initMessage">
               
        </div>                
    
    </div>
  </div>
</div><br/>
<div class="d-grid gap-2 d-md-block">
    <button class="btn btn-primary" type="button" routerLink= "/data" style="width: 80px; align-items: left;"> SI </button>
    <button class="btn btn-primary" type="button" routerLink= "/encuestas" style="width: 200px; align-items: rigth;" > EN OTRO MOMENTO </button>
  </div>
  <br/><br/>
</div>